extends ../layout

block content
  h1
    center#k Kultura
  p.lead A multi-user blog
  hr
  .row
      .col-sm-6
        textarea#editor1.form-control(name='editor1', rows='10', cols='80')
        script.
          // Replace the <textarea id="editor1"> with a CKEditor
          // instance, using default configuration.
          CKEDITOR.replace( 'editor1' );
        button.btn.btn-success(type='submit')
          i.fa.fa-plus-square-o(aria-hidden='true')   Store
