extends ../layout

block content
  ul.nav.nav-pills(role='tablist')
      li.active(role='presentation')
        a(href='#')
          | My posts
          span.badge
      li(role='presentation')
        a(href='/account') Profile

  hr


  form(method='post', action='/')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(for='inputTitle') Title
      input#inputTitle.form-control(type='text', placeholder='Title', name='title')
    .form-group
      label(for='inputTag') Tag
      input#inputTag.form-control(type='text', placeholder='Tag', name='tag')
    .form-group
      label(for='inputImage') Image input
      input#inputImage(type='file', name='imagefile')
      p.help-block
    .form-group
      label(for='editor') Body of blog post
      input#editor.form-control(type='text', name='editor', placeholder='Create your content here ...')
    button.btn.btn-success(type='submit', name='store')
      i.fa.fa-plus-square-o(aria-hidden='true')   Store
  hr
  strong| Stored cultural items:
    ul.list-group
      each val in content
        li.list-group-item= 'title: ' + val.title
        li.list-group-item= 'body: ' + val.body
        li.list-group-item= 'tag: #' + val.tag



