extends ../layout

block content
  h1
    em
      center#k Kultura
  p.lead.text-center A multi-user blog
  hr
  .row
      .col-sm-6
        strong Create your blog content here:
        textarea#editor.form-control(name='editor', rows='10', cols='80', placeholder='Create your content here ...', method='post')
        script.
          // Replace the <textarea id="editor1"> with a CKEditor
          // instance, using default configuration.
          CKEDITOR.replace( 'editor' );
  form
      .form-group
        label(for='inputTitle') Title
        input#inputTitle.form-control(type='text', placeholder='Title', name='title', method='post')
      .form-group
        label(for='inputTag') Tag
        input#inputTag.form-control(type='text', placeholder='Tag', name='tag', method='post')
      .form-group
        label(for='inputImage') Image input
        input#inputImage(type='file', name='imagefile', method='post')
        p.help-block

      button.btn.btn-default(type='submit', name='publish') Publish
        button.btn.btn-success(type='submit', name='store')
          i.fa.fa-plus-square-o(aria-hidden='true')   Store
  hr
  strong| Stored cultural items:
  #newpost
    ul
      each val in content
        li= 'title: ' + val.title
        li= 'body: ' + val.body
        li= 'tag: #' + val.tag
