extends layout

block content
  h1
    center#k Kultura
  p.lead Kultura: A multi-user blog
  hr

  p For people in urban times who lead busy, tech-driven lives to :
  ul
      li
        | 1 - blog about life
      li
        | 2 - store their favourite cultural snippets (whether a piece of broken poetry or lines of song they remember during conversations)