extends layout

block content
  h1

  p.lead Kultura: A multi-user blog
  img(src='elton.jpg', alt='Photo', style='width:304px;height:228px;')
  hr

  p For people in urban times who lead busy, tech-driven lives to :
  ul
      li
        | 1 - blog about life
      li
        | 2 - store their favourite cultural snippets (whether a piece of broken poetry or lines of song they remember during conversations)