extends layout

block content
  h1
    center#k Kultura
  p.lead A multi-user blog
  hr
  | new posts:
  ul
      each val in content
        li= 'title: ' + val.title
        li= 'body: ' + val.body
        li= 'tag: #' + val.tag


