extends layout

block content
  h1
    center Kultura
  p.lead A multi-user blog
  hr
  .row
    .col-sm-6
      h2 Create here...
      p Content of the new cultural item
      p
        a.btn.btn-default(href='#', role='button') View details »

