extends layout

block content
  h1
    center#k Kultura
  p.lead A multi-user blog
  hr
  .row
    .col-sm-6
      textarea.form-control(rows='7')
      button.btn.btn-success(type='submit')
       i.fa.fa-plus-square-o(aria-hidden='true')
         |   Store
      p Content of the new cultural item
  .foo  Foo
  .bar  Bar